@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";
html {
  font-family: "Raleway", "Cardo", sans-serif;
}

.features-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  margin-bottom: 60px;
}
@media (max-width: 854px) {
  .features-wrap {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media (max-width: 445px) {
  .features-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.features-item {
  width: 29.8245614035%;
  margin: 0 15px;
  margin-bottom: 30px;
}
@media (max-width: 445px) {
  .features-item {
    width: 80%;
  }
}
.features-item_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  color: #FF4343;
  margin-bottom: 50px;
}
.features-item_image img {
  max-width: 100%;
  max-height: 100%;
}
.features-item_title {
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 28.2px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 21px;
}
.features-item_description {
  font-size: 1.125rem;
  font-weight: 400;
  text-align: center;
  color: #6c7279;
}

.banner {
  background-image: url("../img/bg/bg-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner::after {
  content: "";
  display: block;
  background-color: rgba(37, 43, 73, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.banner-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
  padding: 15px 0;
  margin-bottom: 130px;
}
.banner-wrap .banner-logo {
  margin: 0 15px;
}
.banner-wrap .banner-logo .banner-logo-text {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #656980;
  position: relative;
}
.banner-wrap .banner-logo .banner-logo-text::after {
  content: "Box";
  display: block;
  text-transform: uppercase;
  height: 26px;
  color: #FFFFFF;
  position: absolute;
  top: 0;
  left: 100%;
}

.navigation-burger {
  display: block;
  width: 25px;
  height: 5px;
  border-bottom: 2px solid white;
  margin: 0 15px;
  position: relative;
  display: none;
}
@media (max-width: 854px) {
  .navigation-burger {
    display: block;
  }
}
.navigation-burger::after {
  content: "";
  width: 25px;
  height: 2px;
  border-bottom: 2px solid white;
  position: absolute;
  top: 300%;
}
.navigation-burger::before {
  content: "";
  width: 25px;
  border-top: 2px solid white;
  position: absolute;
  bottom: 200%;
}

.navigation-list {
  width: 670px;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}
@media (max-width: 854px) {
  .navigation-list {
    display: none;
  }
}
.navigation-list_item {
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navigation-list_item:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.navigation-list_item:hover::after {
  content: "";
  width: 100%;
  border-bottom: 4px solid #babbc5;
  display: block;
  position: absolute;
  top: 200%;
  left: 0;
}
.navigation-list a {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #FFFFFF;
  font-weight: 700;
}

h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  margin-bottom: 34.5px;
}

.banner-description p {
  font-size: 1.5rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 82px;
}

.banner-link {
  width: 369px;
  height: 78px;
  margin: auto;
  background-color: #FF4343;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.banner-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.banner-link a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #FFFFFF;
  font-weight: 900;
}
@media (max-width: 768px) {
  .banner-link {
    width: 300px;
    height: 50px;
    padding: 16px;
  }
}
@media (max-width: 475px) {
  .banner-link {
    width: 279px;
    height: 79px;
    padding: 30.5px;
  }
}

.works-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 445px) {
  .works-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.works-item {
  position: relative;
  max-width: 25%;
  max-height: 339px;
  overflow: hidden;
}
.works-item:hover .works-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-animation-name: content;
          animation-name: content;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
}
@-webkit-keyframes content {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}
@keyframes content {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
}
.works-item_image {
  width: 100%;
  height: 100%;
}
.works-item_image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works-item-content {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 67, 67, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 0;
  left: 0;
  z-index: 2;
  display: none;
}
.works-item-content__link {
  font-size: 1.5rem;
  font-weight: 900;
  color: #FFFFFF;
  margin-bottom: 25px;
}
.works-item-content__description {
  font-size: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .works-item {
    max-width: 33%;
  }
  .works-item:nth-child(1) {
    display: none;
  }
  .works-item:nth-child(2) {
    display: none;
  }
}
@media (max-width: 650px) {
  .works-item {
    max-width: 50%;
  }
  .works-item:nth-child(3) {
    display: none;
  }
  .works-item:nth-child(4) {
    display: none;
  }
}
@media (max-width: 445px) {
  .works-item {
    max-width: 100%;
  }
  .works-item:nth-child(5) {
    display: none;
  }
  .works-item:nth-child(6) {
    display: none;
  }
}

.team-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 830px) {
  .team-wrap {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 445px) {
  .team-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 23.6842105263%;
}
@media (max-width: 830px) {
  .team-item {
    max-width: 35.0877192982%;
    margin-bottom: 35px;
  }
}
@media (max-width: 445px) {
  .team-item {
    max-width: 80%;
    margin-bottom: 35px;
  }
}
.team-item-image {
  max-width: 270px;
  max-height: 270px;
  overflow: hidden;
  margin-bottom: 30px;
}
.team-item-image img {
  max-width: 100%;
  max-height: 100%;
}
.team-item-content span {
  display: block;
}
.team-item-content_name {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: capitalize;
  color: #2d3033;
  margin-bottom: 5px;
}
.team-item-content_position {
  font-size: 1.125rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #FF4343;
  margin-bottom: 18px;
}
.team-item-content_description {
  margin-bottom: 40px;
}
@media (max-width: 830px) {
  .team-item-content_description {
    margin-bottom: 20px;
  }
}
.team-item-content_description p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #6c7279;
}
.team-item-content_social {
  font-size: 2rem;
  color: #6c7279;
}

.fa-facebook-square:hover {
  color: #3b5998;
}

.fa-twitter-square:hover {
  color: #00acee;
}

.fa-linkedin:hover {
  color: #0e76a8;
}

.footer {
  background-color: #353c65;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  padding: 71px 0;
}
@media (max-width: 558px) {
  .footer-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-item {
  margin: 0 15px;
  max-width: 32.4561403509%;
}
@media (max-width: 558px) {
  .footer-item {
    margin-bottom: 30px;
    max-width: 80%;
  }
}
.footer-item-title {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 29px;
  text-align: center;
}
@media (max-width: 558px) {
  .footer-item-title {
    margin-bottom: 20px;
  }
}
.footer-item-content {
  text-align: center;
}

.footer-item-content_description p {
  font-size: 1.125rem;
  font-weight: 400;
  color: #FFFFFF;
}

.footer-item-content_social {
  max-width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social {
  margin-bottom: 49px;
}
@media (max-width: 558px) {
  .social {
    margin-bottom: 20px;
  }
}

.footer-copyright {
  background-color: #2c3154;
  padding: 24px;
}
.footer-copyright-description {
  margin: auto;
  max-width: 370px;
  text-align: center;
}
.footer-copyright-description .name {
  color: #FFFFFF;
}

.download-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.download-title {
  font-size: 1.875rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 60px;
  text-align: center;
  line-height: 21px;
  margin-bottom: 20px;
}
.download-description {
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.download-link {
  width: 369px;
  height: 79px;
  background-color: #FF4343;
  text-align: center;
  padding: 25px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.download-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.download-link a {
  font-size: 1.5rem;
  font-weight: 900;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .download-link {
    width: 300px;
    height: 50px;
    padding: 16px;
  }
}
@media (max-width: 475px) {
  .download-link {
    width: 279px;
    height: 79px;
    padding: 30.5px;
  }
}

.slider-item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media (max-width: 558px) {
  .slider-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.slider-image {
  width: 50%;
  max-height: 741px;
  overflow: hidden;
}
@media (max-width: 558px) {
  .slider-image {
    width: 270px;
    height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    overflow: hidden;
  }
}
.slider-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  background-color: #353c65;
  padding: 20px 0px;
}
@media (max-width: 558px) {
  .slider-description {
    width: 100%;
  }
}
.slider-description_content {
  max-width: 471px;
  padding: 0 15px;
  text-align: center;
}
.slider-description p {
  font-size: 2.25rem;
  color: #FFFFFF;
  font-family: "Cardo";
  margin-bottom: 25px;
}
.slider-description span {
  text-transform: uppercase;
  font-size: 0.8125rem;
  color: #FFFFFF;
}

@media (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 445px) {
  html {
    font-size: 13px;
  }
}

p {
  display: block;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
}

ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

section {
  padding: 50px 0;
}
@media (max-width: 768px) {
  section {
    padding: 40px 0;
  }
}

header {
  padding-bottom: 70px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}