
.features {

    &-wrap {
        @include wrap;
        justify-content: space-between; 
        margin: 0 -15px;
        margin-bottom: 60px;

        @media (max-width: 854px){
justify-content: space-evenly;    
                }

    }
    &-item {
        width: 340px / 1140px * 100%;
        margin: 0 15px;
        margin-bottom: 30px;
       

        &_image   {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin: auto;
            color: $red;
            margin-bottom: 50px;  
            img {
                 max-width: 100%;
                 max-height: 100%;
            }
        }  
        &_title {
            font-size: 1.5rem;
            font-weight: 900;
            line-height: 28.2px;
            text-transform: uppercase;
            text-align: center;        
            margin-bottom: 21px;
}
        &_description {
            font-size: 1.125rem;
            font-weight: 400;
            text-align: center;   
            color: $text-grey; 
        }
    }

   
}