.download {
    &-wrap {
        @include wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;    }
    &-title {
        font-size: 1.875rem;
        font-weight: 400;
        text-transform: capitalize;
        line-height: 60px;  
        text-align: center;
        line-height: 21.13px; 
        margin-bottom: 20px;

}
    &-description {
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
        p {
            line-height: 21.13px;
        }
    }

    &-link {
        width: 369px;
        height: 79px;
        background-color: $red;
        text-align: center;
        padding: 25px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background-color: $red-hover-button;
            transition: 0.2s;
        }
        &:active {
            background-color: $red;
            transition: 0.2s;
    box-shadow: 4px 4px 30px 1px $red-hover;
        }
        a {
            font-size: 1.5rem;
            font-weight: 900;
            color: $white;
        
        }
        @media (max-width: 768px){
            width: 300px;
            height: 50px;
            padding: 16px;
        }
        @media (max-width: 475px) {
            width: 279px;
            height: 79px;       
            padding: 30.5px;
        }  
    }

    
}

