.footer {
    background-color: $purple;
    
}
.footer-wrap {
    @include wrap;
    justify-content: space-between;
    margin: 0 -15px;
    padding: 71px 0;

    @media (max-width: 558px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

}
.footer-item {
    margin: 0 15px;
    max-width: 370px / 1140px * 100%;

    @media (max-width: 558px) {
        margin-bottom: 30px;
        max-width: 80%;

    }
    &-title {
        font-size: 1.125rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 29px;
        text-align: center;   
        @media (max-width: 558px) {
            margin-bottom: 20px;
        }
}
    &-content {
        text-align: center;  
    }
}

.footer-item-content_description {

 p {
    font-size: 1.125rem;
    font-weight: 400; 
    color: $white;   
    line-height: 21.13px;

   }
}
.footer-item-content_social {
    max-width: 170px;
    display: flex;
    justify-content: space-between;
}
.social {
    margin-bottom: 49px;
    @media (max-width: 558px) {
        margin-bottom: 20px;
    }
}


.footer-copyright {
    background-color: $dark-purple;
    padding: 24px;
&-description {
    margin: auto;
    max-width: 370px;
    text-align: center;
    color: $text-grey;
    line-height: 21.13px;

    .name {
        color: $white;
    }
}
}