// переписать тег нав как wrap для лого+лист

.banner {
    background-image: url('../img/bg/bg-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;


&::after {
   content: "";
   display: block;
   background-color: $purple-mask;  
   position: absolute; 
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;}
   
}
.banner-wrap {
    @include wrap;
    justify-content: space-between;
    border-bottom: $border;
    align-items: center;
    margin: 0 -15px;
    padding: 15px 0;
    margin-bottom: 130px;

    @media (max-width: 425px) {
        border-bottom: none;
 
    }


    .banner-logo {
        margin: 0 15px;
            .banner-logo-text {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 700;
                color: $grey;
                position: relative;
                
                &::after {
                    content: "Box";
                    display: block;
                    text-transform: uppercase;
                    height: 26px;        
                    color: $white;
                    position: absolute;
                    top: 0;
                    left: 100%;
                }
            }
        }
}
.navigation {  }

    .navigation-burger {
            display: none;
            width: 25px;
            height: 5px;
            border-bottom: 2px solid white;
            margin: 0 15px;
            position: relative;
            cursor: pointer;
    
            @media (max-width: 854px){
                display: block;
                
                            }
            &::after {
                content: "";
                width: 25px;
                height: 2px;
                border-bottom: 2px solid white;
                position: absolute;
                top: 300%;
            }
                &::before {
                content: "";
                width: 25px;
                border-top: 2px solid white;
                position: absolute;
                bottom: 200%;
            }     
    }
    

.navigation-list { 
    display: flex;
    width: 670px;
    margin: 0 15px;
   @include wrap;
   justify-content: space-between;
   list-style-type: none;

   @media (max-width: 854px){
    display: none;
                }

  &_item {
    position: relative;
    transition: 0.2s;
     &:hover {
        transition: 0.2s;
       &::after {
         content: "";
         width: 100%;
         border-bottom: 4px solid $light-grey;
         display: block;
         position: absolute;
         top: 200%;
         left: 0;         
         }        
}
&:active::after {
    content: "";
    width: 100%;
    border-bottom: 4px solid $red-hover-button;
    display: block;
    position: absolute;
    top: 200%;
    left: 0; 
}
}
       a {
         text-transform: uppercase;
         font-size: 0.875rem;
         color: $white;
         font-weight: 700;
         &:active {
            color: $red-hover-button;
        }
         
}
}

h1 {
    text-transform: uppercase;
    color: $white;
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 34.5px;

    @media (max-width: 425px) {
        font-size: 3rem;
    }
    @media (max-width: 320px) {
        font-size: 2.5rem;
    }
}
.banner-description p {
    font-size: 1.5rem;
    color: $white;
    text-align: center;
    margin-bottom: 82px;
}
.banner-link {
    width: 369px;
    height: 78px;
    margin: auto;
    background-color: $red;
    padding: 25px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    
    &:hover {
        background-color: $red-hover-button;
        transition: 0.2s;
    }
    &:active {
        background-color: $red;
        transition: 0.2s;
box-shadow: 4px 4px 30px 1px $red-hover;
    }
    

    a {
        text-decoration: none;
         font-size: 1.5rem;
         color: $white;
         font-weight: 900;        
        }
    
    @media (max-width: 768px){
        width: 300px;
        height: 50px;
        padding: 16px;
    }
    @media (max-width: 475px) {
        width: 279px;
        height: 79px;       
        padding: 30.5px;
    }  
}
