$red: #FF4343;
$red-hover: rgba(255, 67, 67, 0.8);
$red-hover-button: rgba(231, 20, 20, 1);
$grey: #656980;
$light-grey: rgba(186, 187, 197, 1);
$text-grey: rgba(108, 114, 121, 1);
$white: #FFFFFF;
$black: rgba(45, 48, 51, 1);
$purple-mask: rgba(37, 43, 73, 0.5);
$purple: rgba(53, 60, 101, 1);
$dark-purple: rgba(44, 49, 84, 1);
$facebook:#3b5998;
$twitter:  #00acee;
$linkedin: #0e76a8;

$border:  1px solid $white;



