// это ссылки

.works-wrap {
    @include wrap;
    @media (max-width: 445px){
flex-direction: column;  
    }
}
.works-item {
    position: relative;
    max-width: 25%;
    // min-height: 339px;
    overflow: hidden;


&:hover  &-content {
    display: flex;
    transition: 0.3s;
    animation-name: content;
    animation-duration: 0.3s;
        @keyframes content {
            0% {
             transform: scale(0.2); }
            100% {
              }            
            }
}

    &_image {
width: 100%;
height: 100%;
transform: scale(1.2);  
    }

    &_image img {   
        max-width: 100%;
        max-height: 100%;
              } 
                     
&-content {
        width: 100%;
        height: 100%;
        background-color: $red-hover;
       display: flex;  
       flex-direction: column;
       justify-content: center;
       align-items: center;
        position: absolute;
        transition: 0.3s;   
        top: 0;
        left: 0;
        z-index: 2;
        display: none;
        

        &__link {
            font-size: 1.5rem;
            font-weight: 900;
            color: $white;
            margin-bottom: 25px;
        }
    
        &__description {
            font-size: 1.125rem;
            font-weight: 400;
            color: $white;
        }
    }
    @media (max-width: 768px){
        max-width: 33%;   
    &:nth-child(1){
        display: none;}

     &:nth-child(2){
            display: none;
    }

}
@media (max-width: 650px){
    max-width: 50%;   
&:nth-child(3){
    display: none;}

 &:nth-child(4){
        display: none;
}

}
@media (max-width: 445px){
    max-width: 100%;   
&:nth-child(5){
    display: none;}

 &:nth-child(6){
        display: none;
}

}
}



    
 
 
